.ant-picker {
  height: 40px !important;
  border-radius: 80px !important;
  border-color: #1e1e1e13 !important;
}

.ant-picker:focus-within {
  border: none !important;
  outline: none !important;
}
